:root {
    --fontFamilyDefault: 'Roboto';
    --fontWeightNormal: 300;
    --fontWeightBold: 500;

    --bgLight: #EFEFEF;
    --bgTheme: #128c7e;
    --bgTheme2: #01e675;
    --bgDark: #273443;
    --fontLight: #FEFEFE;
    --fontDark: #313131;

    --paddingRowsDefault: 60px 0;
    --paddingInputDefault: 15px;
    --gapFlexDefault: 20px;
    
    --radiusDefault: 15px;
}

/* body {
    margin: 0;
    padding: 0;
} */

* {
    box-sizing: border-box;
    font-family: var(--fontFamilyDefault), sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    color: var(--fontDark);
    font-weight: var(--fontWeightNormal);
}

h1, h2, h3, h4, h5, h6, b, strong,
button {
    font-weight: var(--fontWeightBold);
}

textarea {
    resize: vertical;
}

.fa, .fab, .fad, .fal, .far, .fas {
    display: unset !important;
}

header, footer {
    text-align: center;
}

header {
    background-color: var(--bgTheme);
    padding: var(--paddingRowsDefault);
}

header * {
    color: var(--fontLight);
}

main {
    padding: var(--paddingRowsDefault);
    min-height: 60vh;
    align-items: center;
    gap: var(--gapFlexDefault);
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gapFlexDefault);
}

main form * {
    width: 400px;
    max-width: 100%;
}

main form input,
main form textarea,
main form button {
    border: 1px solid;
    border-color: #CBCBCB;
    border-radius: var(--radiusDefault);
    padding: var(--paddingInputDefault);
    font-size: 1em;
}

main form label {
    margin-bottom: 5px;
    display: block;
}

main form button {
    background-color: var(--bgTheme2);
    border-color: var(--bgTheme2);
    cursor: pointer;
}

main form button,
main form button * {
    color: var(--fontLight);
}

main form button[type='reset'] {
    background-color: var(--bgLight);
}

main form button[type='reset'],
main form button[type='reset'] * {
    color: var(--fontDark);
    border-color: var(--bgLight);
}

main form *:focus {
    border-color: var(--bgLight);
}

main form .inputsLinkGenerated {
    display: none;
}

#dvHrefLinkGenerated {
    position: relative;
}

#dvHrefLinkGenerated a {
    position: absolute;
    top: 1px;
    right: 1px;
    width: initial;
    padding: var(--paddingInputDefault);
    background-color: var(--bgLight);
    border-radius: var(--radiusDefault);
}

footer {
    padding: var(--paddingRowsDefault);
    background-color: var(--bgDark);
    gap: var(--gapFlexDefault);
}

footer * {
    color: var(--fontLight);
}

footer #links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: var(--gapFlexDefault);
}

header, footer {
    min-height: 20vh;
}

header, main, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: var(--gapFlexDefault);
    padding-left: var(--gapFlexDefault);
}